<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2</title>
    <script src="vue.js"></script>
</head>
<body>

<div id="app">
    <ul>
        <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
        <!-- ingredient is a name you can choose, ingredients refer to the array in the data property -->
    </ul>
    <button @click="ingredients.push('spices')">Add new</button>
    <hr>
    <ul>
        <li v-for="person in persons">
            <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
            <!-- value/key: name you can choose, but it will automatically take the value and the key of the properties of the object (order matters), only value is possible, too ---- person: refers to person on previous line -->
        </li>
    </ul>
    <span v-for="n in 10">{{ n }}</span> <!-- this loops through numbers 1-10 -->
    <hr>
    <template v-for="(ingredient, index) in ingredients">
        <h1>{{ ingredient }}</h1>
        <p>{{ index }}</p>
    </template>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            ingredients: ["meat", "fruit", "cookies"], // array
            persons: [ // array
                {name: 'Max', age: 27, color: 'red'}, // object
                {name: 'Anna', age: 'unknown', color: 'blue'} // object
            ]
        }
    });
</script>

</body>
</html>